.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
}

.home{
    font-size: 25px;
    cursor: pointer;
}
.cart{
    cursor: pointer;
}
.cart i{
    font-size: 25px;
    z-index: 2;
}
.number{
    font-size: 10px;
}
.count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: -8%;
    bottom: 55%;
    z-index: 3;

    color: white;
    background-color: red;
}